@media(min-width: 768px) {
  .page-form {
    margin-top: -420px;
    margin-bottom: -340px;
  }
}

.page-form .block-form {
	padding: 30px 15px;
	border-radius: 8px;
	background-color: #282727;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

	label { font-weight: 400 }

	legend {
		margin: 7px 0;
		border-bottom: none;
	}

	input[type="checkbox"] {
		display: inline-block;
		margin-right: 15px;
		height: 40px;
		float: left;
	}
}
