#footer {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  background-color: #11141c;

	legend {
	  color: #fff;
	  padding-bottom: 7px;
	  border-color: #272d3d;
	}

	hr {
	  display: block;
	  margin: 30px 0;
	  border-color: #272d3d;
	}

	.list-unstyled li {
		margin-bottom: 7px;

		a {
			display: block;
			color: #ccc
		}

		h5 { margin-bottom: 5px }
	}
}
