#header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  background-image: radial-gradient(circle at 50% 0, #fff, #e9e9e9);

	img { margin: 30px 0 }

	.lead { margin-bottom: 0 }
}
