::-webkit-input-placeholder {
	font-weight: 400;
	color: #a4a0a0
}

::-moz-placeholder {
	font-weight: 400;
	color: #a4a0a0
}

:-ms-input-placeholder {
	font-weight: 400;
	color: #a4a0a0
}

:-moz-placeholder {
	font-weight: 400;
	color: #a4a0a0
}
