body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

legend {
  font-weight: 500;
  font-size: 16px
}

::-moz-selection {
  color: #fff;
  background: $blue;
}

::selection {
  color: #fff;
  background: $blue;
}

.lead { font-size: 18px }
